[
    { spreadbot_auth, [
        %{jwt_key, <<"">>},
        %{jwt_iss, <<"">>}
    ]},

    {lager, [
        {colored, true},
        {handlers, [
            {lager_console_backend, [info, {lager_default_formatter, [time," [",severity,"] ", message, " ", pid, "@", module, ":", function, ":", line, "\n"]}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {count, 50}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, debug}, {count, 50}]}
        ]},
        {error_logger_hwm, 500}
    ]}
].
